/*
0-600px : phone
600-900px: taplet portrait
900-1200px: taplet landscape
1200-1800px: normal style apply
1800px+ : big desktop
*/
/*
$breakpoint arguement
-phone
-tab-port
-tab-land
-big-desktop

order : base+typography > general latout + flex display > page layout > components
*/
/* reset : make it the same across platform */
*,
*::before,
*::after {
  /* start clean */
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* make every element to auto inherit to box-sizing(body) */
}

html {
  /*define 1rem font-size to 10px
  the user can zoom-in or out without changing the look of website*/
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

/* End reset */
@-webkit-keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
@-webkit-keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
@-webkit-keyframes moveInButtom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
@keyframes moveInButtom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0); /*back to original*/
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* hide the back of the img when tranfrom, 
  but in this case we use it for fix the heading shaking issue */
  /* backface-visibility: hidden; */
}
.heading-primary--main {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  /* add animation */
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  /* animation-delay: 2s; */
  /* animation-iteration-count: 3; */
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 2.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.25rem;
  /* add animation */
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
  }
}

.heading-secondary {
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  font-size: 3.5rem;
  text-transform: lowercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #777, #333);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(-2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 1.5rem;
}

.u-center-text {
  text-align: center;
}

.u-maring-bottom-small {
  margin-bottom: 2rem;
}

.u-maring-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .u-maring-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem;
}
@media (max-width: 37.5em) {
  .u-margin-top-big {
    margin-top: 3rem !important;
  }
}

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s; /*apply all funtion*/
  position: relative; /*to be a parent for btn animation*/
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /*x y blur color*/
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; /*fading-out*/
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #fb9790;
  color: #fff;
}
.btn--green::after {
  background-color: #fb9790;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInButtom 0.5s ease-out 0.75s;
          animation: moveInButtom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; /*use animation from end->start*/
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fb9790;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fb9790;
  padding: 3px;
}
.btn-text:hover {
  background-color: #fb9790;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.2s;
}
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .composition {
    margin-bottom: 2rem;
  }
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media (max-width: 37.5em) {
  .composition__photo {
    flex-direction: row;
    width: 33.3333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: -10rem;
  top: -2rem;
}
@media (max-width: 37.5em) {
  .composition__photo--p1 {
    top: 0rem;
    left: 1rem;
  }
}
.composition__photo--p2 {
  right: -10rem;
  top: -2rem;
}
@media (max-width: 37.5em) {
  .composition__photo--p2 {
    top: 0rem;
    right: 1rem;
  }
}
.composition__photo--p3 {
  left: 25%;
  top: 3rem;
}
@media (max-width: 37.5em) {
  .composition__photo--p3 {
    top: -1rem;
    left: 33.333%;
    transform: scale(1.2);
  }
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature-box {
  flex: 0 0 20%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}
.feature-box__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #e3b9b8, #e5958f);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.04);
}
.feature-box__text {
  margin-top: 1.5rem;
}
@media (max-width: 56.25em) {
  .feature-box {
    margin-bottom: 4rem;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  width: 35rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #9bd6d6, #679191);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #e3b9b8, #e5958f);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #c4c1e0, #9189ec);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__photo {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__photo--1 {
  background-image: url(../img/wedding-plan2.jpg);
}
.card__photo--2 {
  background-image: url(../img/elopement2.jpg);
}
.card__photo--3 {
  background-image: url(../img/owner-3.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(155, 214, 214, 0.85), rgba(103, 145, 145, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(227, 185, 184, 0.85), rgba(229, 149, 143, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(196, 193, 224, 0.85), rgba(145, 137, 236, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    margin-bottom: 4rem;
  }
}
@media (max-width: 37.5em) {
  .card {
    height: 80rem;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    width: 35rem;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    margin-top: 39.5rem;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding-top: 0;
  }
  .card__cta {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 90%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 4rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
}

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  margin-bottom: 8rem;
}
@media (max-width: 37.5em) {
  .story {
    width: 80%;
    transform: skewX(0);
    padding: 4rem;
    padding-left: 7rem;
  }
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}
.story__img {
  height: 100%;
  transform: translateX(-3.5rem) scale(1.4);
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-3.5rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form h2 {
  margin-bottom: 4rem;
}
.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 56.25em) {
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s;
}
@media (max-width: 37.5em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #fb9790;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #679191;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__group-radio {
  display: flex;
  justify-content: left;
}
@media (max-width: 37.5em) {
  .form__group-radio {
    display: inline-block;
  }
}
.form__radio-group {
  padding-right: 2rem;
}
@media (max-width: 37.5em) {
  .form__radio-group {
    float: left;
  }
  .form__radio-group:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
@media (max-width: 56.25em) {
  .form__radio-label {
    font-size: 1.2rem;
    padding-left: 3.5rem;
  }
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #fb9790;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
@media (max-width: 56.25em) {
  .form__radio-button {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.form__radio-button::after {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fb9790;
  opacity: 0;
  transition: opacity 0.2s;
}
@media (max-width: 56.25em) {
  .form__radio-button::after {
    height: 1rem;
    width: 1rem;
  }
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.2s;
}
@media (max-width: 37.5em) {
  .popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
@media (max-width: 37.5em) {
  .popup__left {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
.popup__right {
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__right h3 {
  margin-top: -8rem;
  margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .popup__right h2 {
    font-size: 2rem;
  }
  .popup__right h3 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  .popup__right a.btn.btn--green {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
@media (max-width: 75em) {
  .popup__img {
    padding: 3rem 0 3rem 3rem;
  }
}
@media (max-width: 37.5em) {
  .popup__img {
    width: 50%;
    padding: 0;
  }
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms--hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}
@media (max-width: 37.5em) {
  .popup__text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    -moz-column-count: unset;
    column-count: unset;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1rem;
}
.popup__close:hover {
  color: #fb9790;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#e3b9b8, #e5958f);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation__bg {
    top: 4.2rem;
    right: 4.2rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__bg {
    top: 3.7rem;
    right: 3.7rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.7s;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fb9790;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* Header */
.header {
  height: 95vh; /* set the height to be 95% of viewport */
  background-image: linear-gradient(to right bottom, rgba(227, 185, 184, 0.8), rgba(229, 149, 143, 0.8)), url(../img/wedding-small.jpg);
  background-size: cover; /* try to fit in the element of this box */
  background-position: top;
  position: relative; /*origin position for logo*/
  /* clip the img*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*define 4 conner of img(x y axis)*/
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(155, 214, 214, 0.8), rgba(229, 149, 143, 0.8)), url(../img/wedding.jpg);
  }
}
@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute; /*child element from header*/
  top: 4rem;
  left: 6rem;
}
.header__logo {
  height: 12rem; /*width will adjust accordingly*/
}
.header__text-box {
  position: absolute;
  /* relative with parent */
  top: 50%;
  left: 50%;
  /* not relative with parent */
  transform: translate(-50%, -50%); /*this will shift the text itself, not from the position*/
  text-align: center;
}

/* End Header */
.features-row {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 56.25em) {
  .features-row {
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }
}

.tours-row {
  display: flex;
  align-items: center;
  margin-left: -35rem;
  justify-content: space-evenly;
}
@media (max-width: 56.25em) {
  .tours-row {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 16.25vw);
  grid-gap: 1.5rem;
  padding: 5rem 15rem;
}

.grid-item {
  width: 100%;
  height: 25rem;
}
.grid-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature__link {
  text-transform: lowercase;
  font-family: "Libre Baskerville", serif;
}
.feature__link a {
  color: #eee;
}
.feature__link em {
  font-style: italic;
}
.feature__link em:hover {
  color: #fff;
}

.footer {
  background-color: #fff1e6;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #777;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__row {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}
.footer__copyright {
  flex: 0 0 50rem;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
}
.footer__list {
  list-style: none;
  display: flex;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #777;
  background-color: #fff1e6;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #fb9790;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: rotate(3deg) scale(1.3);
}
.footer__copyright {
  padding-left: 10rem;
}
@media (max-width: 37.5em) {
  .footer {
    padding: 6rem 0;
  }
  .footer__logo-box {
    margin-bottom: 4rem;
  }
  .footer__row {
    width: 70%;
    flex-direction: column;
  }
  .footer__copyright {
    flex: 0 0 5rem;
    padding: 4rem 4rem;
  }
  .footer__navigation {
    margin: 0 auto;
  }
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff1e6;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0 15rem 0;
  }
}
@media (max-width: 37.5em) {
  .section-about {
    padding: 10rem 0 23rem 0;
    margin-top: -10vh;
    margin-bottom: 10rem;
  }
  .section-about h2 {
    text-align: center;
  }
  .section-about a.btn-text {
    margin-bottom: 4rem;
  }
}

.heading__row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
@media (max-width: 37.5em) {
  .heading__row {
    flex-direction: column;
    width: 80%;
  }
}
.heading__row > * {
  flex: 0 0 35%;
}
.heading__row-img {
  position: relative;
}
.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #e3b9b8, #e5958f);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 15rem 0 10rem 0;
  }
}
@media (max-width: 37.5em) {
  .section-features {
    margin-top: -15rem;
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #fff1e6;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
  text-align: center;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}
.section-stories {
  padding: 15rem 0;
  overflow: hidden;
  position: relative;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding-top: 15rem;
  background-image: linear-gradient(to right bottom, #e3b9b8, #e5958f);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0 0 5rem;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/mix-1.png);
  margin: 0 auto;
  width: 70%;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.book__form {
  width: 60%;
  padding: 6rem;
}
.book__logo-bottom {
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(../img/mix-1.png);
  }
}
@media (max-width: 37.5em) {
  .book {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9) 100%, transparent 100%), url(../img/mix-1.png);
  }
  .book__form {
    text-align: center;
    width: 100%;
  }
}