/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* reset : make it the same across platform */
*{
    /* start clean */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/* End reset */

/* Header */
.header{
    height: 95vh; /* set the height to be 95% of viewport */
    background-image: linear-gradient(
        150deg,
        hsla(111, 55%, 64%, 0.8),
        hsla(160, 64%, 43%, 0.8)),
        url(../img/hero.jpg);
    background-size: cover; /* try to fit in the element of this box */
    background-position: top;
    position: relative; /*origin position for logo*/

    /* clip the img*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*define 4 conner of img(x y axis)*/
}

.logo-box{
    position: absolute; /*child element from header*/
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px; /*width will adjust accordingly*/
}

.text-box{
    position: absolute;
    /* relative with parent */
    top:40%;
    left:50%;
    /* not relative with parent */
    transform: translate(-50%,-50%); /*this will shift the text itself, not from the position*/
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    /* hide the back of the img when tranfrom, 
    but in this case we use it for fix the heading shaking issue */
    /* backface-visibility: hidden; */
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;

    /* add animation */
    animation: moveInLeft 1s ease-out;

    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.5px;

    /* add animation */
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    /* start */
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}

@keyframes moveInRight{
    /* start */
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}

@keyframes moveInButtom{
    /* start */
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}

/* reset the default of link propety */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; /*apply all funtion*/
    position: relative; /*to be a parent for btn animation*/
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /*x y blur color*/
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; /*fading-out*/
}

.btn-animated{
    animation: moveInButtom .5s ease-out .75s;
    animation-fill-mode: backwards; /*use animation from end->start*/
}
/* End Header */

