/* reset : make it the same across platform */
*,
*::before,
*::after {
  /* start clean */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* make every element to auto inherit to box-sizing(body) */ }

html {
  /*define 1rem font-size to 10px
    the user can zoom-in or out without changing the look of website*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* End reset */
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
    /*back to original*/ } }

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
    /*back to original*/ } }

@keyframes moveInButtom {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
    /*back to original*/ } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* hide the back of the img when tranfrom, 
    but in this case we use it for fix the heading shaking issue */
  /* backface-visibility: hidden; */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    /* add animation */
    animation: moveInLeft 1s ease-out;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    /* add animation */
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.btn {
  /* reset the default of link propety */ }
  .btn:link, .btn:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /*apply all funtion*/
    position: relative;
    /*to be a parent for btn animation*/ }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /*x y blur color*/ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      /*fading-out*/ }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInButtom .5s ease-out .75s;
    animation-fill-mode: backwards;
    /*use animation from end->start*/ }

.row {
  max-width: 114rem;
  background-color: aqua;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100%-8rem)/2);
    background-color: red;
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }

/* Header */
.header {
  height: 95vh;
  /* set the height to be 95% of viewport */
  background-image: linear-gradient(150deg, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* try to fit in the element of this box */
  background-position: top;
  position: relative;
  /*origin position for logo*/
  /* clip the img*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*define 4 conner of img(x y axis)*/ }
  .header__logo-box {
    position: absolute;
    /*child element from header*/
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    /*width will adjust accordingly*/ }
  .header__text-box {
    position: absolute;
    /* relative with parent */
    top: 40%;
    left: 50%;
    /* not relative with parent */
    transform: translate(-50%, -50%);
    /*this will shift the text itself, not from the position*/
    text-align: center; }

/* End Header */
