//color
$color-primary : #fb9790;
$color-primary-light : #e3b9b8;
$color-primary-dark : #e5958f;

$color-secondary-light:  #9bd6d6;
$color-secondary-dark:  #679191;

$color-tertiary-light: #c4c1e0;
$color-tertiary-dark: #9189ec;

$color-grey-light-1: #fff1e6;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;


//font-family
$default-font:'Lato', sans-serif;
$heading-font:'Libre Baskerville', serif;

//font-size
$default-font-size: 1.6rem;

//spacing
$margin-bottom-big : 8rem;
$margin-bottom-medium : 4rem;
$margin-bottom-small : 1.5rem;