.features-row{
    display: flex;
    justify-content: space-evenly;

    @include respond(tab-port){
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }
}

.tours-row{
    display: flex;
    align-items: center;
    margin-left: -35rem;
    justify-content: space-evenly;

    @include respond(tab-port){
        flex-direction: column;
    }
}