.composition{
    flex: 1;
    display: flex;
    flex-direction: column;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(phone){
            flex-direction: row;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1{
            left:0;
            top:-2rem;

            @include respond(phone){
                top:1rem;
            }
        }

        &--p2{
            right:0;
            top:2rem;

            @include respond(phone){
                top:0rem;
            }
        }

        &--p3{
            left:20%;
            top:10rem;

            @include respond(phone){
                top:-1rem;
                left: 33.333%;
                transform: scale(1.2);
            }
        }

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}