.popup{
    background-color: rgba($color-black,.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    text-align: center;

    &__content{
        @include absCenter;

        width: 80%;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        background-color: $color-white;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform:translate(-50%,-50%) scale(.25);
        transition: all .4s .2s;

        &-carousel{
            width: 60%;
            padding: 8rem 5rem 0 5rem;
            margin: 0 auto;

            @include respond(tab-port){
                width: 80%;
            }
        }
    }

    &__logo{
        position: absolute;
        height: 10rem;
        left: 3rem;
    }

    //open state
    &:target{
        opacity: 1;
        visibility: visible
    }

    &:target &__content{
        opacity: 1;
        transform:translate(-50%,-50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            margin-bottom: 2rem;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1rem;
        }

        &:hover{
            color: $color-primary;
        }
    }

    &__btn{
        margin: 2rem;
    }
}

.carousel-caption{
    font-family: $default-font;
    background-color: rgba($color-white,.5);
    color: $color-grey-dark;
}