.popup{
    background-color: rgba($color-black,.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
        @include absCenter;

        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        background-color: $color-white;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform:translate(-50%,-50%) scale(.25);
        transition: all .4s .2s;

        @include respond(phone){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__left{
        width: 33.333333%;
        display: table-cell;

        @include respond(phone){
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__right{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        h3{
            margin-top: -8rem;
            margin-bottom: 2rem;
        }

        @include respond(phone){
            h2{
                font-size: 2rem;
            }
            h3{
                font-size: 1.3rem;
                margin-top:.5rem;
                margin-bottom: 2rem;
            }
            a.btn.btn--green{
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    &__img{
        display: block;
        width: 100%;
        @include respond(tab-land){
            padding: 3rem 0 3rem 3rem;
        }
        @include respond(phone){
            width: 50%;
            padding: 0;
        }
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        //make a column of paragraph
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem; //default is 1 em = 14px(parent element )
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms--hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(phone){
        font-size: 1.2rem;
        margin-bottom: 2rem;

        //make a column of paragraph
        -moz-column-count: unset;

        column-count: unset;
        }
    }

    //open state
    &:target{
        opacity: 1;
        visibility: visible
    }

    &:target &__content{
        opacity: 1;
        transform:translate(-50%,-50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1rem;
        }

        &:hover{
            color: $color-primary;
        }
    }
}