@keyframes moveInLeft{
    /* start */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}

@keyframes moveInRight{
    /* start */
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}

@keyframes moveInButtom{
    /* start */
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0); /*back to original*/
    }
}